<div class="container">
    <div class="flex-row">
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <td>#</td>
                    <td>Name</td>
                    <td>Contact</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of result">
                    <td>{{item.id}}</td>
                    <td>{{item.title}}</td>
                    <td>12345</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>